---
layout: page
title: Sobre Mim
permalink: /about/
description: Saiba um pouco sobre quem está por trás desse blog.
published: false
---

{% capture ct %}

This is the base Jekyll theme. You can find out more info about customizing your Jekyll theme, as well as basic Jekyll
usage documentation at [jekyllrb.com](https://jekyllrb.com/)

You can find the source code for Minima at GitHub:
[jekyll][jekyll-organization] /
[minima](https://github.com/jekyll/minima)

You can find the source code for Jekyll at GitHub:
[jekyll][jekyll-organization] /
[jekyll](https://github.com/jekyll/jekyll)


[jekyll-organization]: https://github.com/jekyll

{% endcapture %}

{{ ct | markdownify }}

<ul>
  {% for i in (1..20) %}
  {% if i == 3 or i == 15 or i == 8 %}
  <li style="color:red;">{{ i }}</li>
  {% continue %}
  {% else %}
  <li>{{ i }}</li>
  {% endif %}
  {% endfor %}
</ul>
