---
title: Icons
permalink: "/icons/"
layout: icons
description: Descrição Sobre Mim
published: false
---

<ol>
    {% for item in site.static_files %}
    <li>
      <a href="{{ item.url }}">{{ item.name }}</a>
      — {{ item.path }}
    </li>
    {% endfor %}
  </ol>
<ul class="flex-container">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
  </ul>
{% if jekyll.environment == "production" %}


<ul class="flex-container">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
</ul>

  <svg class="icon-remove-sign">
    <use xlink:href="#icon-close"></use>
  </svg>
<svg class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
<svg class="icon-menu"><use xlink:href="#icon-close"></use></svg>
<svg class="icon-menu"><use xlink:href="#icon-download"></use></svg>
<svg class="icon-menu"><use xlink:href="#my-icons-warning"></use></svg>
{% endif %}
