---
layout: page
title: Projetos
permalink: /projects/
---

{% if site.projects.size > 0 %}

<div class="project-list">
  {% for post in site.projects %}
  <div class="project-content">
    <!-- <span class="post-meta">{% include date.html date=post.date %}</span> -->
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ forloop.index }} &bull; {{ post.title | escape }}
      </a>
    </h3>
    <div class="project-body">
      <img class="project-img" src="{{ post.image | default: 'https://placehold.it/750x500' }}" alt="" />
      <p>
          {% if post.description %}
          {{ post.description | escape }}
          {% else %}
          Sleek, intuitive, and powerful front-end framework for faster and easier web development.
          Built at Twitter with Jacob Thornton. Currently most popular repo on GitHub.
            {% endif %}
        <br />
        <a class="" href="{{ post.link }}">Link</a>
      </p>
    </div>
  </div>
  {% endfor %}

</div>

{% endif %}
