---
layout: page
title: Skills
permalink: "/skills/"
published: false
---

<ul class="skills-container">
  {% for icon in site.data.skills.skills limit: 300 %}
  <li class="skills-item" title="{{ icon.name }}">
    <svg class="svg-icon">
      <use xlink:href="#icon-skill-{{ icon.name | downcase }}"></use>
    </svg>
    {% if icon.rating > 5 %}
    <p>O valor maximo é 5</p>
    {% else %}
    <h3>
      <a class="skills-link" href="{{ '#' | relative_url }}">{{ icon.name | escape }}</a>
    </h3>
    <div class="skills-star">
      {% for i in (1..5) %}
      {% unless i > icon.rating %}
      <svg class="svg-icon">
        <use xlink:href="#icon-star"></use>
      </svg>
      {% continue %}
      {% else %}
      <svg class="svg-icon">
        <use xlink:href="#icon-star-o"></use>
      </svg>
      {% endunless %}
      {% endfor %}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
