<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <meta name="description" content="svg-icon: An ultimate SVG icons collection DONE RIGHT.">
  <title>svg-icon</title>
  <link rel="stylesheet" href="{{ '/assets/css/flexbox.min.css' | relative_url }}" />
</head>
<body>

  <header>Header</header>
  <div id="main">
    <article>Article</article>
    <nav>Nav</nav>
    <aside>Aside</aside>
  </div>
  <footer>Footer</footer>

<!-- <script src="./dist/index.js"></script> -->
</body>
</html>
