---
layout: default
---

{% if jekyll.environment == "production" %}


{% endif %}


<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <!-- <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- include date.html date=page.date -%}
      </time> -->
      {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
      </span>
      {% endif %}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% if page.image %}
    <!-- <img src="{{ page.image }}" alt="{{ page.title }}" /> -->
    {% else %}
    <!-- <img src="https://placehold.it/750x500" alt="{{ page.title }}" /> -->
    {% endif %}

    {%-if page.repository == "sdfsdfsd" -%}
    {%- assign repo = page.repository | append: "/blob/master/README.md" | cgi_escape -%}
    {%- endif -%}

    {{ content }}

    <h2>Informações</h2>
    <ul class="project-info">
      <li>Título: <a href="{{ item.url | relative_url }}">{{ page.title | escape }}</a></li>
      <li>Status: <a href="#">{{ page.status | escape }}</a></li>
      <li>Data: <a href="#">{% include date.html date=page.date %}</a></li>
      <li>Link: <a href="#">{{ page.link | escape }}</a></li>
      <li>Image: <a href="#">{{ page.image | escape }}</a></li>
      <li>Description: <a href="#">{{ page.content | strip_html | strip_newlines | truncatewords: 5
          }}</a></li>
      <li>Deploy: <a href="#">{{ page.deploy | escape }}</a></li>
      <li>Repositório: <a href="#">{{ page.repository | escape }}</a></li>
      <li>Categorias: <a href="#">{{ page.categories | array_to_sentence_string: "&" }}</a></li>
      <li>Tags: <a href="#">{{ page.tags | array_to_sentence_string: "&" }}</a></li>
    </ul>

  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

