<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="svg-icon: An ultimate SVG icons collection DONE RIGHT.">
  <title>svg-icon</title>
  <link rel="stylesheet" href="{{ '/assets/css/stylus.min.css' | relative_url }}" />
</head>

<body>
  {% include svg-icons.html %}

  <header class="bar-header">
    <h1 class="logo">
        <a href="{{site.baseurl}}/"></a>
    </h1>
</header>
<div class="search-wrapper">
  <div class="search-form">
      <input type="text" class="search-field" placeholder="Search...">
      <svg class="icon-remove-sign"><use xlink:href="#icon-close"></use></svg>
      <ul class="search-results search-list"></ul>
  </div>
</div>

<div id="fade" class="overlay"></div>
<a id="slide" class="slideButton fade">
  <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
  <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
</a>
<aside id="sidebar">
<nav id="navigation">
<h2>MENU</h2>
<ul>
  {% for link in site.links %}
    <li><a href="{{ site.url }}{{site.baseurl}}{{ link.url }}">{{ link.title }}</a></li>
  {% endfor %}
  <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
</ul>
</nav>
</aside>
<a id="search" class="dosearch">
  <svg class="icon-menu icon-search"><use xlink:href="#icon-search"></use></svg>
</a>
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
</body>

</html>
