/**
 *
 * demo-data module
 * @module demo-data
 * @see module:index
 */

.stripe-4 {
    color: white;
    background: repeating-linear-gradient( -55deg, #222, #222 10px, #333 10px, #333 20px); // background-image: linear-gradient(to top right, $grey-color-light 70%, blue 10%, yellow 10%);
    // background-color: #000;
    // background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 60%, #ffffff 10%);
}

main[aria-label="ContentPage4s"] {
    background-color: transparent;
    .post {
        background-color: transparent; // width: 80%;
        .post-header {
            background-color: transparent; // color: red;
        }
        .post-content {
            background-color: transparent;
        }
    }
    .wrapper {
        background-color: transparent;
        .post-content {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            min-height: 50vh; // background-color: blue;
            margin: 10px;
        }
    }
}

.post-project2 {
    // background: tomato;
    // border: 1px solid red; // padding: 5px;
    width: 100%; // height: 50vh;
    // min-width: 20vw;
    margin-top: 10px; // line-height: 150px;
    // color: white; // font-weight: bold;
    // font-size: 3em;
    // text-align: center;
    h2 {
        @include relative-font-size(1.925); // font-weight: 500;
    }
    p {
        padding-top: 10px;
        @include relative-font-size(1.225);
        font-weight: 100;
    }
}
