/**
 * Social styling
 */

.page-content {
  // background-color: $grey-color-light;
  // background-color: #f1f1f1;
  // -webkit-transform: skewY(-5deg);
  // -moz-transform: skewY(-5deg);
  // -ms-transform: skewY(-5deg);
  // transform: skewY(-5deg);
}

// section.diagonal {
//   -webkit-transform: skewY(-5deg);
//   -moz-transform: skewY(-5deg);
//   -ms-transform: skewY(-5deg);
//   transform: skewY(-5deg);
// }

// .patterned, .patterned p {
//   color: #fefefe;
// }
// .patterned {
//   background: #222 url(//d1qmdf3vop2l07.cloudfront.net/teal-worm.cloudvent.net/compressed/9a30e6c….png);
// }
// footer, section {
//   padding: 150px 0;
//   background: #fff;
//   margin-top: -2px;
// }
// // user agent stylesheet
// article, aside, footer, header, hgroup, main, nav, section {
//   display: block;
// }


.skills-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around; // background-color: aqua; /* Rodrigo Ribeiro */
}

.skills-item {
    // background: tomato;
    padding: 5px;
    width: 140px; // height: 140px;
    margin-top: 10px; // margin-bottom: 10px; /* Rodrigo Ribeiro */
    // border: 1px solid red;
    /* Rodrigo Ribeiro */
    color: $text-color;
    font-weight: bold; // font-size: 3em;
    text-align: center;


}

.skills-item > svg.svg-icon {
    @include icon-size-mixin(60px, 60px)
    opacity: 0.6;
    margin-bottom: 10px;
    -webkit-transform: scale(1.0);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -moz-transform: scale(1.0);
    -o-transition: 0.3s ease;
    -o-transform: scale(1.0);



    &:hover {
        opacity: 1;
        -webkit-transform: scale(1.5);
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -moz-transform: scale(1.5);
        -o-transition: 0.3s ease;
        -o-transform: scale(1.5);
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.skills-link {
    display: block;
    @include relative-font-size(1.5); // line-height: 60px;
    text-decoration: underline;
}



// %size(width = 30, height = 30) {
//     width width px
//     height height px
// }

// %clearfix2:after {
  %clearfix2 {
    // content: "";
  // display: table;
  // clear: both;
  // width: 26px;
}
// @extend %clearfix;

.skills-star > .svg-icon {
    // width: 26px;
    // height: 16px;
    // @include icon-size-mixin(16px);
    display: inline-block;
    // fill: $brand-color;
    // @extend %clearfix2;
    &:not(:first-child) {
      // margin-right: 20px;
      background-color: pink;
  }

  &:not(:last-child) {
    // margin-right: 20px;
    // background-color: yellow;
}
&:not(:nth-child(2n+1)) {
    // background-color: blue;
  }
}
