<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description }}{%
    endif %}</title>

  <!-- Jekyll SEO -->
  {% seo title=false %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/icons/apple-touch-icon.png' | relative_url }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/icons/favicon-32x32.png' | relative_url }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/icons/favicon-16x16.png' | relative_url }}" />
  <!-- <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}" /> -->
  <link rel="mask-icon" href="{{ '/assets/img/icons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5" />
  <link rel="shortcut icon" href="{{ '/assets/img/icons/favicon.ico' | relative_url }}" />
  <meta name="apple-mobile-web-app-title" content="RODRIGO3D" />
  <meta name="application-name" content="RODRIGO3D" />
  <meta name="msapplication-TileColor" content="#2b5797" />
  <meta name="msapplication-TileImage" content="{{ '/assets/img/icons/mstile-144x144.png' | relative_url }}" />
  <!-- <meta name="msapplication-config" content="{{ '/assets/browserconfig.xml' | relative_url }}" /> -->
  <meta name="theme-color" content="#ffffff" />

  <!-- Custom styles for this template -->
   <!-- <link rel="stylesheet" href="{{ '/assets/css/stylus.min.css' | relative_url }}" /> -->
 <link rel="stylesheet" href="{{ '/assets/css/main.min.css' | relative_url }}" />

  {% if jekyll.environment == "production" %}
  <!-- Add manifest -->
  <link rel="manifest" href="{{ 'manifest.json' | relative_url }}" />
  <meta name="msapplication-config" content="{{ '/assets/browserconfig.xml' | relative_url }}" />

  <!-- Add Service Worker -->
  <script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ 'sw.js' | relative_url }}").then(function (registration) {
        console.info("Service Worker registration successful with scope: ", registration.scope);
      }).catch(function (err) {
        console.error("Service Worker registration failed: ", err);
      });
    }
  </script>
  {% endif %}

  <!-- Jekyll Feed -->
  {% feed_meta %}

  {% if jekyll.environment == "production" and site.google_analytics %}

  {% include google-analytics.html %}

  {% endif %}
</head>
