<ul class="social-media-list">
  {% if site.dribbble_username %}
  <li>
    <a href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-dribbble' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.dribbble_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.facebook_username %}
  <li>
    <a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-facebook' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.facebook_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.flickr_username %}
  <li>
    <a href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-flickr' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.flickr_username | escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-github' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.github_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.instagram_username %}
  <li>
    <a href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-instagram' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.instagram_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.linkedin_username %}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-linkedin' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.linkedin_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.pinterest_username %}
  <li>
    <a href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-pinterest' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.pinterest_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% for mst in site.mastodon %}
  {% if mst.username and mst.instance %}
  <li>
    <a href="https://{{ mst.instance| cgi_escape | escape}}/@{{mst.username}}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-temp' | relative_url }}"></use>
      </svg>
      <span class="username">{{ mst.username|escape }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
  {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-twitter' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.twitter_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.youtube_username %}
  <li>
    <a href="https://www.youtube.com/{{ site.youtube_username| cgi_escape | escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-youtube' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.youtube_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.googleplus_username %}
  <li>
    <a href="https://plus.google.com/{{ site.googleplus_username| escape }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-googleplus' | relative_url }}"></use>
      </svg>
      <span class="username">{{ site.googleplus_username| escape }}</span>
    </a>
  </li>
  {% endif %}
  {% if site.rss %}
  <li>
    <a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon">
        <use xlink:href="{{ '/assets/img/svg-symbols.svg#icon-social-rss' | relative_url }}"></use>
      </svg>
      <span>{{ site.rss | escape }}</span>
    </a>
  </li>
  {% endif %}
</ul>
