/**
 * Site header
 */

.site-header {
    // border-top: 5px solid $grey-color-dark; /* Original */
    border-bottom: 1px solid $grey-color-light;
    box-shadow: 0 -3px 9px $grey-color-dark;
    min-height: $spacing-unit * 1.865; // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
    svg {
        // display: none;
        color: red;
    }
    .slideButton,
    .dosearch {
        display: none;
        svg {
            fill: $text-color;
        }
    }
    .nav-trigger {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height; // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .slideButton,
        .dosearch {
            display: block;
            #close {
                fill: $grey-color-dark;
            }
            svg {
                fill: $grey-color-dark;
            }
        }
        .slideButton#open {
            fill: red;
        }
        .icon-menu {
            fill: red;
        }
        label[for="nav-trigger"] {
            display: none;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            >svg {
                fill: $grey-color-dark;
            }
        }
        input~.trigger {
            clear: both;
            display: none;
        }
        input:checked~.trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
