html,
body
	height 100%

$bg
	background-color main
	.content
		width 95%
		text-align center
		padding rem(140px) 0 rem(66px)

.bar-header
	background sec
	padding rem(10px) rem(20px)
	box-shadow 0 -3px 9px #000
	position fixed
	width 100%
	z-index 10
	.logo
		margin 0
		line-height rem(35px)
	.logo a
		color main
		text-decoration none
		font-size rem(28px)
		&:after
			transition all .4s
			content '</> AD'
			+above(cut)
				content '</> Anon Developer'
