@charset "utf-8";
// Define defaults for each variable.
$base-font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 30px !default;
$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$table-text-align: left !default;
// Width of the content area
$content-width: 800px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;
// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// Import partials.
@import "custom/_base",
"custom/_header",
"custom/_footer",
"custom/_content",
"custom/_posts",
"custom/_syntax-highlighting";
/**
 * Wrapper
 */


.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

// @import "pages/_flex";
main[aria-label="ContentProject"] {
    background-color: transparent;
    .wrapper {
        background-color: transparent;
        .post-content {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .post {
            background-color: transparent;
            .post-header {
                background-color: transparent;
            }
            .post-content {
                background-color: transparent;
                margin-bottom: 30px;
                img {
                    margin-bottom: 15px;
                }
                .project-info {
                    margin: 0px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    list-style: none;
                    // border: 1px solid red;
                }
                .project-info li {
                    @include relative-font-size(0.725);
                    font-weight: bold;
                    width: 50%;
                    line-height: 30px;
                    a {
                        font-weight: normal;
                        &::after {
                            content: ' ';
                        }
                    }
                }
            }
        }
    }
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  background: tomato;
  padding: 5px;
  // width: 200px;
  width: 49%;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;



&:not(:first-child) {
  // margin-right: 20px;
  background-color: pink;
}
&:nth-child(3n+1) {
  background-color: blue;
  width: 100%;


}

}
.flex-item:nth-child(2) {
  // width: 100%;
}
