@charset "utf-8";
// Define defaults for each variable.
$base-font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 30px !default;
$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$table-text-align: left !default;
// Width of the content area
$content-width: 800px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;
// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base",
"minima/layout",
"minima/syntax-highlighting";
.pagination {
    text-align: auto;
}

.site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: red;
    &,
    &:visited {
        color: $grey-color-dark;
    }
    &:hover {
        text-decoration: none;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    .h-card {
        color: $grey-color;
        &:before {
            content: '';
        }
    }
}

.project-content {
    display: flex;
    -webkit-flex-flow: column wrap;
    padding-bottom: 20px;
    >.project-body {
        >img {
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            width: 28%;
            height: 130px;
        }
        >p {
            float: right;
            width: 68%;
        }

    }
}

.post-content {
    .externalLink {
        background-color: $grey-color-light;
        &::after {
          display: inline-block;
          content: '   ';
          color: red;
          fill: red;
        //   background-image: url('/assets/img/external.svg');
        //   background-size: 100%;
        //   margin-left: 2px;
        //   width: 16px;
        //   height: 16px;
          vertical-align: middle;
        }
    }
}

.project-info {
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  @include relative-font-size(0.800);
  > li {
    width: 50%;
  }
}

@include media-query($on-palm) {
  .project-info {
    > li {
      // width: 100%;
    }
  }
}
